body, html {
  color: #718096;
  background: #f4f4f4;
}

.container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

header {
  -webkit-box-shadow: 0 2px 9px #b4b3b3;
          box-shadow: 0 2px 9px #b4b3b3;
  padding: 20px 0px;
  background: white;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 150px;
}

header .container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 20px;
}

header .container .logo a i {
  color: #5a67d8;
}

header .container .logo a span {
  color: #444444;
  margin-left: 10px;
}

header .container .header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 200px;
}

header .container .header-search span {
  background: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

header .container .header-search span i {
  color: #718096;
}

header .container .header-search input {
  background: #f4f4f4;
  color: #718096;
  padding: 15px 10px 12px 10px;
  width: 300px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

header .container nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 140px;
}

header .container nav > ul > li {
  padding-left: 50px;
}

header .container nav > ul > li:hover > ul.dropdown {
  display: block;
}

header .container nav > ul > li > a {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #718096;
}

header .container nav > ul > li > a:hover {
  color: #5a67d8;
}

header .container nav > ul > li > a.active {
  color: #5a67d8;
}

header .container nav > ul > li > a > i {
  padding-left: 5px;
  font-size: 12px;
}

header .container nav > ul > li > ul.dropdown {
  position: absolute;
  display: none;
  background: #fff;
  width: 220px;
  -webkit-box-shadow: 0px 0px 4px -1p;
          box-shadow: 0px 0px 4px -1p;
}

header .container nav > ul > li > ul.dropdown > li > a {
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 8px;
  color: #718096;
}

header .container nav > ul > li > ul.dropdown > li > a:hover {
  color: #5a67d8;
}

main .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-top .right {
  display: block;
  width: 80%;
  margin-left: 200px;
}

main .main-top .right .service {
  margin-top: 150px;
}

main .main-top .right .service .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-top .right .service .container .item {
  width: 25%;
  border-radius: 10px;
  background: white;
  text-align: center;
  padding-top: 20px;
  margin-right: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.05);
}

main .main-top .right .service .container .item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 1px 5px 10px rgba(51, 51, 51, 0.3);
          box-shadow: 1px 5px 10px rgba(51, 51, 51, 0.3);
}

main .main-top .right .service .container .item i {
  font-size: 30px;
  color: #5a67d8;
}

main .main-top .right .service .container .item a {
  font-size: 20px;
  padding: 20px 0px;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .main-top .right .service .container .item a:hover {
  color: #5a67d8;
}

main .main-top .right .slider {
  margin-bottom: 30px;
}

main .main-top .right .slider .container {
  overflow: hidden;
  position: relative;
}

main .main-top .right .slider .container input {
  display: none;
}

main .main-top .right .slider .container input#slide1:checked ~ .list {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

main .main-top .right .slider .container input#slide2:checked ~ .list {
  -webkit-transform: translateX(-1100px);
          transform: translateX(-1100px);
}

main .main-top .right .slider .container input#slide3:checked ~ .list {
  -webkit-transform: translateX(-2200px);
          transform: translateX(-2200px);
}

main .main-top .right .slider .container input#slide4:checked ~ .list {
  -webkit-transform: translateX(-3300px);
          transform: translateX(-3300px);
}

main .main-top .right .slider .container input#slide1:checked ~ .dots > .slide1 {
  background: #5a67d8;
}

main .main-top .right .slider .container input#slide2:checked ~ .dots > .slide2 {
  background: #5a67d8;
}

main .main-top .right .slider .container input#slide3:checked ~ .dots > .slide3 {
  background: #5a67d8;
}

main .main-top .right .slider .container input#slide4:checked ~ .dots > .slide4 {
  background: #5a67d8;
}

main .main-top .right .slider .container .list {
  white-space: nowrap;
  font-size: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

main .main-top .right .slider .container .list .item {
  display: inline-block;
  width: 100%;
  white-space: normal;
}

main .main-top .right .slider .container .list .item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-top .right .slider .container .list .item .content .text a {
  display: inline-block;
  padding: 10px 20px;
  color: #5a67d8;
  background: rgba(51, 51, 51, 0.2);
  border-radius: 20px;
  font-size: 16px;
}

main .main-top .right .slider .container .list .item .content .text h2 {
  font-size: 40px;
  margin-top: 20px;
}

main .main-top .right .slider .container .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 60px;
  left: 20px;
}

main .main-top .right .slider .container .dots label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(51, 51, 51, 0.3);
  margin-right: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

main .main-top .right .slider .container .dots label:hover {
  background: #5a67d8;
}

main .main-top .btn {
  position: fixed;
  top: 95px;
  left: 25px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

main .main-top .btn span {
  color: white;
  font-size: 28px;
  line-height: 45px;
}

main .main-top .click {
  left: 240px;
}

main .main-top .click span:before {
  content: '\f00d';
}

main .main-top .show {
  left: 0px !important;
}

main .main-top .sidebar {
  display: block;
  margin-top: 85px;
  position: fixed;
  width: 230px;
  height: 100%;
  left: -230px;
  background: #bbf5a5;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

main .main-top .sidebar .text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #bebcbc;
  letter-spacing: 1px;
}

main .main-top .sidebar > ul {
  background: white;
  height: 100%;
  width: 100%;
  list-style: none;
}

main .main-top .sidebar > ul .active a {
  color: #5a67d8;
  background: #eeecec;
  border-left-color: cyan;
}

main .main-top .sidebar > ul .active ul li a {
  color: #111111;
  background: #eeecec;
  border-left-color: transparent;
}

main .main-top .sidebar > ul > li {
  line-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

main .main-top .sidebar > ul > li a {
  position: relative;
  color: #141414;
  text-decoration: none;
  font-size: 17px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

main .main-top .sidebar > ul > li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 22px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

main .main-top .sidebar > ul > li a .rotate {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

main .main-top .sidebar > ul > li ul {
  position: static;
  display: none;
}

main .main-top .sidebar > ul > li ul li {
  line-height: 42px;
  border-bottom: none;
}

main .main-top .sidebar > ul > li ul li a {
  font-size: 15px;
  color: #111111;
  padding-left: 80px;
}

main .main-top .sidebar > ul > li ul li:hover a {
  color: #5a67d8 !important;
  background: #eeecec !important;
}

main .main-top .sidebar > ul > li .show {
  display: block;
}

main .myform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

main .myform input[type='checkbox'] {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 255, 55, 0.3);
  -webkit-box-shadow: inset -1px -1px 3px rgba(214, 219, 226, 0.3), inset 1px 1px 3px rgba(34, 40, 49, 0.3);
          box-shadow: inset -1px -1px 3px rgba(214, 219, 226, 0.3), inset 1px 1px 3px rgba(34, 40, 49, 0.3);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: background-color .45;
  transition: background-color .45;
}

main .myform input[type='checkbox']:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-5px, -50%);
          transform: translate(-5px, -50%);
  width: 22px;
  height: 22px;
  border-radius: 50px;
  background-color: #fffafa;
  -webkit-box-shadow: 1px 1px 2px rgba(34, 40, 49, 0.9), inset 1px 1px 2px white, inset -1px -1px 2px rgba(10, 10, 10, 0.1);
          box-shadow: 1px 1px 2px rgba(34, 40, 49, 0.9), inset 1px 1px 2px white, inset -1px -1px 2px rgba(10, 10, 10, 0.1);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

main .myform input[type='checkbox']:checked {
  background-color: #00ff37;
}

main .myform input[type='checkbox']:checked:before {
  -webkit-transform: translate(22px, -50%);
          transform: translate(22px, -50%);
}

main .myform label {
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */