$grey: #f4f4f4;
$font-color: #718096;
$w:1100px;
$primary-color:#00ff37;
$light-color: #fffafa;
$dark-color: #222831;
body,html{
    color: $font-color;
    background:$grey;
}
.container {
  max-width: $w;
    margin-right: auto;
    margin-left: auto;;
}

header {
    box-shadow: 0 2px 9px rgba(rgb(180, 179, 179), 5%);
    padding: 20px 0px;
    background:white;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;   
  
  .container {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-left: 150px ;
    .logo {
      a {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        i {
            color:#5a67d8;
        }
        span{
            color:rgb(68, 68, 68);
            
            margin-left: 10px;
        }
      }
    }
    .header-search {
        
        display: flex;
        margin-left: 200px;
        span{
            background:$grey;
            display: flex;
            align-items: center;
            justify-content: center;
            padding:15px 15px;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            i{
                color:$font-color;
            }
        }
        input{
            background:$grey;
            color:$font-color;
            padding:15px 10px 12px 10px;
            width:300px;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
           
        }
    }
    nav {
        >ul{
            display:flex;
            margin-left: 140px;
            >li{
                padding-left: 50px;
                &:hover{
                    >ul.dropdown{
                        display:block;
                    }
                }
                >a{
                    font-size: 18px;
                    font-weight: 500;
                    display:flex;
                    align-items: center;
                    color: $font-color;
                    &:hover{
                        color:#5a67d8;
                    }
                    &.active{
                        color:#5a67d8;
                    }
                    >i{ 
                        padding-left: 5px;
                        font-size: 12px;
                    }
                }
                >ul.dropdown{
                    position: absolute;
                    display: none;
                    background: #fff;
                    width:220px;
                    box-shadow:0px 0px 4px -1p;
                    >li{
                        >a{
                            font-size: 18px;
                            font-weight: 500;
                            display:block;
                            padding:8px;
                            color: $font-color;
                            &:hover{
                                color:#5a67d8;
                            }
                            
                        }
                    }
                }
            }
        }
    }
    }
}
main{
  
   .main-top{
    display:flex;
    .right{
        display: block;
        width: 80%;
        margin-left:200px;
        .service{
            margin-top: 150px; 
           
            .container{
                display: flex;
                justify-content:space-between;
                .item{
                    width: 25%;
                    border-radius: 10px;
                    background:white;
                    text-align: center;
                    padding-top: 20px;
                    margin-right: 30px;
                    transition:all 0.5s;
                    box-shadow:0px 5px 10px rgba( #333, 0.05);
                    &:hover{
                        transform: translateY(-5px);
                        box-shadow: 1px 5px 10px rgba(#333,0.3);
                    }
                    i{
                        font-size: 30px;
                        color: #5a67d8;
                    }
                    a{
                        font-size: 20px;
                        padding:20px 0px;
                        display: block;
                        transition: all 0.5s;
                        &:hover{
                            color:#5a67d8;
                        }
                    }
                }
            }
        }
        .slider{
            margin-bottom:30px;
            
            .container{
                overflow: hidden;
                position: relative;
                input{
                    display: none;
                    &#slide1:checked~.list{
                        transform:translateX(0px);
                    }
                    &#slide2:checked~.list{
                        transform:translateX(-$w * 1);
                    }            
                    &#slide3:checked~.list{
                        transform:translateX(-$w * 2);
                    }            
                    &#slide4:checked~.list{
                        transform:translateX(-$w * 3);
                    }
                    &#slide1:checked~.dots>.slide1{
                        background:#5a67d8;
                    }
                    &#slide2:checked~.dots>.slide2{
                        background: #5a67d8;
                    }
                    &#slide3:checked~.dots>.slide3{
                        background: #5a67d8;
                    }
                    &#slide4:checked~.dots>.slide4{
                        background: #5a67d8;
                    }
                }
                .list{
                    white-space: nowrap;
                    font-size: 0;
                    transition: all 0.6s;
                    .item{
                        display: inline-block;
                        width: 100%;
                        white-space: normal;
                        .content{
                            display:flex;
                            justify-content: space-between;
                            align-items: center;
                            .text{
                                a{
                                    display:inline-block;
                                    padding:10px 20px;
                                    color: #5a67d8;
                                    background: rgba(#333, 0.2);
                                    border-radius:20px;
                                    font-size:16px
                                }
                                h2{
                                    font-size: 40px;
                                    margin-top: 20px;
                                }
                            }
                           
                        }
                    }
                }
                .dots{
                    display: flex;
                    position: absolute;
                    bottom: 60px;
                    left: 20px;
                    label{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background:rgba(#333,0.3);
                        margin-right: 5px;
                        transition: all 0.5s;
                        cursor: pointer;
                        &:hover{
                            background: #5a67d8;
                        }
                    }
                }
            }
        }
    }
    .btn{
        position:fixed;
        top: 95px;
        left:25px;
        height:45px;
        width:45px;
        text-align: center;
        background:#1b1b1b;
        border-radius:5px;
        cursor: pointer;
        transition:left 0.4s ease;
        span{
            color:white;
            font-size:28px;
            line-height: 45px;
        }
        
        
    }
    .click{
        left:240px;
        span{
                &:before {
                    content: '\f00d';
                }
        }
    }
    .show{
        left:0px !important;
    }
    .sidebar{
        display:block;
        margin-top:85px;
        position: fixed;
        width: 230px;
        height: 100%;
        left: -230px;
        background:#bbf5a5;
        transition:left 0.5s ease;
        .text{
            color: white;
            font-size: 25px;
            font-weight: 600;
            line-height: 65px;
            text-align: center;
            background: #bebcbc;
            letter-spacing:1px;
        }
        >ul{
            background: white;
            height:100%;
            width: 100%;
            list-style: none;
            .active a{
                color: #5a67d8 ;
                background: #eeecec;
                border-left-color: cyan;
            }
            .active ul li a{
                color: rgb(17, 17, 17);
                background: #eeecec;
                border-left-color: transparent;
            }
            >li{
                line-height: 60px;
                border-bottom: 1px solid rgba(255,255,255,0.1);    
                a{
                    position: relative;
                    color: rgb(20, 20, 20);
                    text-decoration: none;
                    font-size: 17px;
                    padding-left: 40px;
                    font-weight: 500;
                    display: block;
                    width: 100%;
                    border-left: 3px solid transparent;
                    span{
                        position:absolute;
                        top:50%;
                        right:20px;
                        transform:translateY(-50%);
                        font-size:22px;
                        transition: transform 0.4s;
                    }
                    .rotate{
                        transform:translateY(-50%) rotate(-180deg);
                    }
                    
                }
                ul{
                    position:static;
                    display: none;
                    li{
                        line-height: 42px;
                        border-bottom: none;
                        a{
                            font-size:15px;
                            color:rgb(17, 17, 17);
                            padding-left: 80px;
                        }
                        &:hover{
                            a{
                                color: #5a67d8 !important;
                                background: #eeecec !important;
                            }
                        }
                    }
                }
               .show{
                    display: block;
                }
               

            }
        }
    }
    
}
   .myform{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    
    input[type='checkbox']{
        position: relative;
        width: 40px;
        height: 20px;
        border-radius: 10px;
        background-color: rgba($primary-color, 0.3);
        box-shadow: inset -1px -1px 3px rgba(lighten($dark-color, 70%), 0.3), inset 1px 1px 3px rgba($dark-color, 0.3);
        cursor: pointer;
        appearance: none;
        transition: background-color .45;
        &:before{
            content:"" ;
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-5px,-50%);
            width: 22px;
            height: 22px;
            border-radius: 50px;
            background-color: $light-color;
            box-shadow: 1px 1px 2px rgba($dark-color, .9), inset 1px 1px 2px lighten($light-color, 10%), inset -1px -1px 2px rgba(#0a0a0a, 0.1);
            transition:transform 0.4s;
        }
        &:checked{
            background-color: $primary-color;
            &:before{
              transform: translate(22px, -50%);
            }
        }
        }
    label{
        margin-right: 20px;
    }
    
    }

    
}